body{background: url(img1\ \(19\).jpg) no-repeat;
    background-size: cover;
}

footer{
    text-align: center;
    background-color: antiquewhite;
    padding: 20px 0;
    bottom: 0;
    margin-top: 400px;
    
}
body{
    background: 
}